* {
  background-color: #1f202e;
  padding: 0;
  margin: 0;
  color: bisque;
  font-family: 'Lato', sans-serif;
  font-size: 62.5%;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-size: 2.6rem;
  line-height: 5rem;
  font-weight: bold;
}

h2 {
  margin-top: 1.6rem;
  font-size: 2rem;
  font-weight: normal;
  color: #c9cfff;
}

.content {
  margin: 2rem 0;
  text-align: center;
  width: 100%;
}

h3 {
  font-weight: normal;
  font-size: 2.4rem;
}

.number {
  display: block;
  text-align: center;
  margin: 1.6rem auto;
  padding: 0.8rem 0;
  font-size: 2rem;
  width: 8rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-36 {
  margin-top: 3rem;
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: bisque;
  cursor: pointer;
  flex-shrink: 0;
  font-size: 1.6rem;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

p {
  margin: 2.4rem 0;
}

.clue {
  color: #c9cfff;
  font-size: 1.6rem;
}
